{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "prettier"
    ],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
        "react/jsx-props-no-spreading": [2, {"custom":  "ignore"}],
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "linebreak-style": ["off"],
        "prettier/prettier": "error",
        "jsx-quotes": [2, "prefer-single"],
        "semi": ["error", "always"],
        "comma-dangle": ["error", "always-multiline"],
        "object-curly-newline": [
            "error",
            { "ImportDeclaration": { "multiline": true, "minProperties": 5 } }
        ]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    }
}
